.profile__editButton {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: auto 0 7px 18px;
  border: 0px;
  background-color: #000000;
}

.profile__editButton:hover {
  opacity: .6;
  cursor: pointer;
}
