.popup__occupation {
  width: 358px;
  margin: 30px 0 0 36px;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popup__occupation:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  .popup__occupation {
    width: 238px;
    margin-left: 22px;
  }
}
